lab2/lab2_client/src/main/java/lab2/ws/generated/PersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.lab2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.lab2/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.lab2/" schemaLocation="http://localhost:8080/PersonService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllPersons">
<part name="parameters" element="tns:getAllPersons"></part>
</message>
<message name="getAllPersonsResponse">
<part name="parameters" element="tns:getAllPersonsResponse"></part>
</message>
<message name="getPersons">
<part name="parameters" element="tns:getPersons"></part>
</message>
<message name="getPersonsResponse">
<part name="parameters" element="tns:getPersonsResponse"></part>
</message>
<message name="addPerson">
<part name="parameters" element="tns:addPerson"></part>
</message>
<message name="addPersonResponse">
<part name="parameters" element="tns:addPersonResponse"></part>
</message>
<message name="updatePerson">
<part name="parameters" element="tns:updatePerson"></part>
</message>
<message name="updatePersonResponse">
<part name="parameters" element="tns:updatePersonResponse"></part>
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson"></part>
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse"></part>
</message>
<portType name="PersonWebService">
<operation name="getAllPersons">
<input wsam:Action="http://ws.lab2/PersonWebService/getAllPersonsRequest" message="tns:getAllPersons"></input>
<output wsam:Action="http://ws.lab2/PersonWebService/getAllPersonsResponse" message="tns:getAllPersonsResponse"></output>
</operation>
<operation name="getPersons">
<input wsam:Action="http://ws.lab2/PersonWebService/getPersonsRequest" message="tns:getPersons"></input>
<output wsam:Action="http://ws.lab2/PersonWebService/getPersonsResponse" message="tns:getPersonsResponse"></output>
</operation>
<operation name="addPerson">
<input wsam:Action="http://ws.lab2/PersonWebService/addPersonRequest" message="tns:addPerson"></input>
<output wsam:Action="http://ws.lab2/PersonWebService/addPersonResponse" message="tns:addPersonResponse"></output>
</operation>
<operation name="updatePerson">
<input wsam:Action="http://ws.lab2/PersonWebService/updatePersonRequest" message="tns:updatePerson"></input>
<output wsam:Action="http://ws.lab2/PersonWebService/updatePersonResponse" message="tns:updatePersonResponse"></output>
</operation>
<operation name="deletePerson">
<input wsam:Action="http://ws.lab2/PersonWebService/deletePersonRequest" message="tns:deletePerson"></input>
<output wsam:Action="http://ws.lab2/PersonWebService/deletePersonResponse" message="tns:deletePersonResponse"></output>
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllPersons">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPersons">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addPerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updatePerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deletePerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService"></soap:address>
</port>
</service>
</definitions>